.appicon {
    border: 1.5px solid #EAEAEA;
    width: 30%;
    border-radius: 1.5em;
    position: absolute;
    top: 5%;
    left: 5%;
}

.appname {
    position: absolute;
    top: 10px;
    left: 40%;
    font-weight: 100;
}

.appname2 {
    position: absolute;
    top: 60px;
    left: 40%;
    color: #D8D8D8;
    font-weight: 300;
    font-size: 15px;
}

.installbtn {
    background-color: #007bff;
    color: white;
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    top: 110px;
    left: 40%;
    width: 100px;
    height: 30px;
    border-radius: 1em;
    border: 1px solid #007bff;
    transition: 0.3s;
}

.installbtn:hover {
    width: 130px;
}

#score {
    color: #D8D8D8;
    font-size: 25px;
    position: absolute;
    top: 120px;
    left: 6%;
    /*by.Elppa*/
}

#star {
    font-size: 30px;
}

#startext {
    font-size: 15px;
    position: absolute;
    top: 35px;
}

#grade {
    position: absolute;
    left: 300px;
}

#gradetext {
    position: absolute;
    left: 300px;
    width: 100%;
}

hr {
    border: 0.5px solid #D8D8D8;
}

.maintext {
    font-size: 25px;
    margin-top: 0px;
    margin-left: 5%;
    font-weight: 600;
}

.main {
    margin-top: 210px;
}

#subtext {
    position: relative;
    font-size: 15px;
    top: 10px;
}

#subtext2 {
    color: #D8D8D8;
    position: relative;
    font-size: 13px;
}

.link_a {
    text-decoration-line: none;
    color: white;
}

.notictitle {
    font-size: 25px;
    margin-top: 0px;
    font-weight: 600;
}

.ctimg {
    margin-left: 5%;
}

@media all and (max-width:320px){
    .appname2{
        font-size: 12px;
        top: 65px;
    }
    #grade,#gradetext{
        left: 250px;
    }
}

@media all and (min-width:768px) {
    .main {
        margin-top: 300px;
    }
    
    .appname{
        top: 30px;
    }
    
    .appname2{
        top: 90px;
    }
    
    .installbtn{
        top:150px;
    }
    
    #score{
        top:180px;
        left:310px;
    }
}