body {
    font-family: 'Jua', sans-serif;
    font-weight: 100;
}

.appicon {
    border: 1.5px solid #EAEAEA;
    width: 30%;
    border-radius: 1.5em;
    position: absolute;
    top: 5%;
    left: 5%;
}

.appname {
    position: absolute;
    top: 2%;
    left: 40%;
    font-weight: 100;
}

.appname2 {
    position: absolute;
    top: 10%;
    left: 40%;
    color: #D8D8D8;
    font-weight: 300;
}

.installbtn {
    background-color: #007bff;
    color: white;
    font-family: 'Jua', sans-serif;
    font-weight: 300;
    font-size: 15px;
    position: absolute;
    top: 20%;
    left: 40%;
    width: 100px;
    height: 30px;
    border-radius: 1em;
    border: 1px solid #007bff;
    transition: 0.3s;
}

.installbtn:hover {
    width: 130px;
}

#score {
    color: #D8D8D8;
    font-size: 25px;
    position: absolute;
    top: 23%;
    left: 10%;
}

#star {
    font-size: 30px;
}

#startext {
    font-size: 15px;
    position: relative;
    top: -10px;
}

#grade {
    position: relative;
    left: 100px;
}

#gradetext {
    position: relative;
    left: 195px;
}

hr {
    border: 0.5px solid #D8D8D8;
}

.maintext {
    font-size: 25px;
    margin-top: 0px;
    margin-left: 5%;
    font-weight: 600;
}

.main {
    margin-top: 65%;
}

#subtext {
    position: relative;
    font-size: 15px;
    top: 10px;
}

#subtext2 {
    color: #D8D8D8;
    position: relative;
    font-size: 13px;
}

.link_a {
    text-decoration-line: none;
    color: white;
}

@media (max-height:812px) {
    .installbtn{
        top:16%;
    }
    
    .appname2{
        top:8%;
    }
}
