.btn2{
    width: 150px;
    margin: 15px;
    border-radius: 2em;
}

#logo{
    width: 100%;
}

.btntext{
    font-size: 30px;
}

.btn3{
    width: 346px;
}

.noti{
    color: red;
    text-align: center;
}

.center{
    text-align: center;
    position: relative;
    left: 50%;
    margin-left: -175px;
    width: 350px;
    z-index: 9999;
    background-color : black;
}

.input-group{
    width: 344px;
    position: relative;
    left: 50%;
    margin-left: -172px;
}

.input-group-text,.form-control,.toast-header,.text-muted,.ml-2{
    background-color: #2E2E2E;
    color: white;
}

.toast-body{
    background-color: #848484;
    color: white;
}

.nav-link{
    text-align: center;
}

.navtext{
    color: white;
    position: relative;
    left: 50%;
    margin-left: -103px;
}

.navtext2{
    color: white;
    position: relative;
    left: 50%;
    margin-left: -71px;
}

.navmain{
    color: white;
    position: relative;
    left: 50%;
    margin-left: -71px;
}

body{
    text-align: center;
    background-color: black;
}

.mainbutton{
    background-color: white;
    color: black;
    width: 150px;
    height: 150px;
    border-radius: 5em;
}

.mainbutton:hover{
    background-color: #424242;
    color: white;
}

.leftbtn{
    margin-right: 50px;
}

